/* Theme name: meuTema*/ 

@import './css/reset.css';

body{
    background-color: rgb(231, 250, 254)
}

.hidden{
    display: none;
}

/*header*/

header{
    background-color: rgb(122, 36, 125);
    display: flex;
    height:70px;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

/*home*/


.categorias{
    display: flex;
}


.do_dia{
    padding:4%;
}

li{
    list-style-type:none;
}



/*modal*/
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position:fixed;
    top: 0px;
    left: 0px;
    z-index:2000;
    display: none;
    justify-content: flex-end;
    
}

.modal-container.mostrar{
    display:flex;
}

.modal{
    background-color:#F5C661;
    padding: 40px;
    width:25%;
    min-width: 300px;
    position:relative;
}

.fechar{
    position:absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background:#F5C661;
    border: solid #F5C661;
    cursor: pointer;

}


/*home*/
.titulo, .texto1{
    display: flex;
    justify-content: center;
    margin: 2%;

}

.titulo{
    font-family: Roboto;
    color:#F5C661;
}

.texto1{
    color:white;
}

.painel1{
    background-color:rgb(122, 36, 125);
    padding: 3%;
    margin-bottom: 3%;
}


/*footer*/
.rodape{
    background-color: #F5C661;
    display:flex;
    justify-content:center;
    align-items: center;

}